h1 {
    color: rgba(0, 0, 0, 0.753);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
p {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(72, 179, 163);
}